@charset "UTF-8";

label.error {
	color: red
}

input.valid {
	border: 1px solid green
}

#login_error_msg {
	color: red;
	font: italic;
}

.account_form button {
    margin-left: 1px;
}

.account_form label {
    margin-right: 10px;
}