<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.gukbap.mapper.UserMapper">
	<!-- RESULTMAP -->
	<resultMap type="com.itwill.gukbap.domain.UserDomain" id="userResultMap">
		<result property="user_id" column="user_id"/>
		<result property="user_password" column="user_password"/>
		<result property="user_first_name" column="user_first_name"/>
		<result property="user_last_name" column="user_last_name"/>
		<result property="user_birthdate" column="user_birthdate"/>
		<result property="user_phone" column="user_phone"/>
		<result property="user_level" column="user_level"/>
		
		<collection property="addresses" autoMapping="true" ofType="com.itwill.gukbap.domain.AddressDomain"/>
		<collection property="orders" autoMapping="true" ofType="com.itwill.gukbap.domain.OrderDomain"/>
	</resultMap>
	
	<!-- SELECT -->
	<select id="selectAll" resultMap="userResultMap">
		select 
			u.*, 
			a.*, 
			go.order_no,
			go.order_date, 
			go.order_status, 
			go.order_total_price, 
			go.order_desc, 
			go.order_note from gukbap_user u 
		full outer join useraddress ua on u.user_id = ua.user_id
		full outer join address a on ua.address_no = a.address_no
        full outer join gukbap_order go on u.user_id = go.user_id
		where user_level != 'admin'
	</select>
	
	<select id="selectUserById" resultMap="userResultMap" parameterType="string">
		select 
			u.*, 
			a.*, 
			go.order_no,
			go.order_date, 
			go.order_status, 
			go.order_total_price, 
			go.order_desc, 
			go.order_note from gukbap_user u 
		full outer join useraddress ua on u.user_id = ua.user_id
		full outer join address a on ua.address_no = a.address_no
        full outer join gukbap_order go on u.user_id = go.user_id
		where u.user_id = #{user_id}
	</select>
	
	<select id="isExistedUser" resultType="_int" parameterType="String">
		select count(*) from gukbap_user where user_id = #{user_id}
	</select>
	
	<!-- INSERT -->
	<insert id="insertUser" parameterType="com.itwill.gukbap.domain.UserDomain">
		INSERT INTO gukbap_user (user_id, user_password, user_first_name, user_last_name, user_birthdate, user_phone) 
		VALUES (#{user_id}, #{user_password}, #{user_first_name}, 
				#{user_last_name}, to_date(#{user_birthdate}, 'yyyy/MM/dd'), #{user_phone})
	</insert>
	
	<!-- update -->
	<update id="updateUser" parameterType="com.itwill.gukbap.domain.UserDomain">
		update gukbap_user set user_password = #{user_password}, 
                       user_first_name = #{user_first_name}, 
                       user_last_name = #{user_last_name}, 
                       user_birthdate = to_date(#{user_birthdate}, 'yyyy/MM/dd'),
                       user_phone = #{user_phone}	
		where user_id = #{user_id}
	</update>
	
	<!-- DELETE -->
	<delete id="deleteUser" parameterType="String">
		delete gukbap_user where user_id = #{user_id}
	</delete>
</mapper>